// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
//     //  height: 100%;
// }
// Class for when element is above threshold


.nav-extended {
    background-color: grey;
    width: 100%;

    a {
        color: white;
        font-weight: bold;
        font-size: 1.5em;
    }

    // .right {
    //     text-align: center;
    //     float: none !important;
    //
    //     li {
    //         float: none;
    //         display: inline-block;
    //     }
    // }
}

main {
    .section > div:nth-child(1) {
        width: 100%;
        margin: auto;
    }
}
