body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
// Class for when element is above threshold
  .pin-top {
    position: relative;
  }

  // Class for when element is below threshold
  .pin-bottom {
    position: relative;
  }

  // Class for when element is pinned
  .pinned {
    position: fixed !important;
  }
    .nav-wrapper {
        background-color: red;

        a {
            color: black;
        }

        .right {
            text-align: center;
            float: none !important;

            li {
                float: none;
                display: inline-block;
            }
        }
    }
    main {
        flex: 1 0 auto;
    }
